body {
/* background-color: rgba(149, 212, 159, 0.603); */
background: rgb(4,5,47);
background: linear-gradient(90deg, rgba(4,5,47,1) 15%, rgba(26,63,178,1) 58%, rgba(69,252,229,1) 96%);
}

header {
   display: flex;
   justify-content: space-around;
   align-items: center;
    background-color: rgb(50, 53, 150);
    height: 80px;
}

.main-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 900px;
    height: 100%;
}

h1{
  color: aliceblue;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  margin-left: 200px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0 auto;
}

header > .main-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
 
}
.trener {
    width: 250px;
    border-radius: 50px;
    -webkit-box-shadow: 15px 16px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 15px 16px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 15px 16px 8px 0px rgba(34, 60, 80, 0.2);

}
.trener:hover{
transform: scale(0.9);

}
.coachs > .main-wrapper{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h2 {
    margin-right: 100px;
    color: rgb(255, 255, 255);
}
p {
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disc{
    font-size: 22px;
    color: rgb(255, 255, 255);
}
.watsapp{
    margin: auto 45px;
    background-color: #25d366;
    border: 1px solid #1c1e21;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    margin: 0 auto;
 
}

a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.more-info {
    display: none;
    margin-top: 10px;
}

.more-info.show {
    display: block;
}
.pa {
    display: flex;
    margin-top: 50px;
}

footer {
    height: 300px;
    background-color: rgb(63, 20, 222);
    border-radius: 35px;
 
}
.main-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}


.social-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    height: 100%;
}

svg:hover{
   fill: white;
}
.mysvg { 
    width: 150px; 
    height: 120px;
 }

.social-cont > a {
    color: #161C35;
    font-size: 45px;
    margin: 10px;
    text-decoration: none;
    position: relative;
    width: 20px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
}

.social-cont > a::before {
    content: '';
    width: 25px;
    height: 25px;
    border: 1px solid #161C35;
    transform: rotate(45deg);
    position: absolute;
    left: -3px;
    top: -5px;
    transition-duration: 0.3s;
    z-index: -1;
}

.social-cont > a:hover {
    color: #FFFFFF;
}

.social-cont > a:hover::before {
   background: #161C35;
}
svg {
    width: 36px;
    color: #FFFFFF;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.writer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.slider {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.74);
  position: relative;
}

.section2 {
  position: relative;
  padding: 60px 0;

  width: 100%;
  /* background: linear-gradient(to right, #f0f4c3, #f0f8ff); */
 

  margin: auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;

  box-sizing: border-box;
}



button.prev,
button.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(109, 103, 103);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

button.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

button.prev {
  left: 0;
}

button.prev:hover,
button.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.dots {
  text-align: center;
  padding: 10px 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff94;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

.slide > img{
  height: 700px;
  width: 600px;
}


/* Адаптивность сайта */

@media  (max-width: 781px) {  
  h1{
    color: aliceblue;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
   
  }
  

 }

 @media  (max-width:  560px) {  
  .more-info-btn{
    font-size: 10px;
  }
  .disc {
    font-size: 16px;
  }
  .coachs {
    font-size: 18px;
  }
  .trener {
    height: 250px;
  }

 }


 @media  (max-width:  467px) {  
  .more-info-btn{
    font-size: 8px;
  }
  .disc {
    font-size: 14px;
  }
  .coachs {
    font-size: 16px;
  }
  .trener {
    height: 200px;
  }

 }

 
  @media  (max-width:  386px) { 
    .trener {
      height: 180px;
    }
  }

  @media  (max-width:  535px) { 
    .slider{
      height: 550px;
    }
  }
  
  @media  (max-width:  377px) {
    }
    .watsapp > a{
      font-size: 15px;
    }
  
   
   @media  (max-width:  468px) {
    .slider{
      height: 400px;
    }
   }

   @media  (max-width:  534px) {
   .slide > img{
    height: 450px;
    width: 350px;
    }
   }

   @media  (max-width:  409px) {
    .slide > img{
    width: 300px;
    }
   }

   @media  (max-width:  310px) {
    .slide > img{
    width: 270px;
    }
   }

   @media  (max-width:  288px) {
    .slide > img{
    width: 200px;
    height: 400px;
    }
   }

   
   @media  (max-width:  377px) {
    .trener {
      height: 119px;
      border-radius: 19px;
    }
    }

    @media  (max-width:  377px) {
      .trener {
        height: 80px;
      }
    }
    @media  (max-width:  301px) {
      .trener {
        height: 70px;
      }
    }
